doctype html
html
  head
    title=title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/common.css')
    link(rel='stylesheet', href='/login.css')
    link(rel='stylesheet', href='/statistika.css')
    link(rel='stylesheet', href='/unoskomentara.css')
    script(src='login.js')
    script(src='poruke.js')
    script(src='unoskomentara.js')
    script(src='validacija.js')
  body
    include menu.pug
    block content
