.menu-wrapper
    .menu
        img(src='/wtlogo.png',alt='Logo')
        .menu-nav
            .wt-flex-center-v
                a(href='login') Login
            .wt-flex-center-v
                a(href='statistika') Statistika
            .wt-flex-center-v
                a(href='unoskomentara') Unos komentara
            .wt-flex-center-v
                a(href='unosspiska') Unos spiska